{% extends 'app.html.twig' %}

{% block title %}{{ collection.name }}{% endblock %}

{% block content %}
    <h1>{{ collection.name }}</h1>

    <span class="badge bg-primary d-inline-block">{{ collection.topic.name }}</span>

    <div class="mt-2">
        <div class="fw-bold">Description:</div>
        {{ collection.description|e|markdown|raw }}
    </div>

    <div class="mt-2">
        <div class="fw-bold">Items:</div>
        <button type="button" class="btn btn-primary btn-xs" data-bs-toggle="modal"
                data-bs-target="#addItemModal">
            Add new Item
        </button>

        <div class="row mt-4">
            {% for item in collection.items %}
                {% include 'items/item-fragment.html.twig' with {
                    'item': item, 'collection': collection, 'edit': true
                } only %}
            {% else %}
                No items added yet
            {% endfor %}
        </div>
    </div>

    <div id="deleteItemModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm Delete</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete item: <b id="item-name"></b></p>
                </div>
                <div class="modal-footer">
                    <form method="post" class="form-inline" id="deleteItemModalForm"
                          action="{{ path('user_collections.removeItem', {id: collection.id }) }}">
                        <input type="hidden" name="item_id" id="item-id">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="addItemModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add new item</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                     form(form, { 'action': path('user_collections.addItem', {id: collection.id }) })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var deleteModal = document.getElementById('deleteItemModal')
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            deleteModal.querySelector('#item-id').value = button.getAttribute('data-bs-id');
            deleteModal.querySelector('#item-name').textContent = button.getAttribute('data-bs-name');
        })
    </script>
{% endblock %}
