{% extends 'app.html.twig' %}

{% block title %}My Collections{% endblock %}

{% block content %}
    <h1>My Collections ({{ collections|length }})</h1>

    <div class="row mt-4">
        <div class="col-md-3 mb-4">
            <a href="{{ path('user_collections.create') }}">
                <div class="bg-white d-flex flex-column align-items-center justify-content-center h-100 p-3">
                    <i class="fa fa-plus-circle fa-2x text-primary"></i>
                    <div class="text-muted">
                        Create a new collection
                    </div>
                </div>
            </a>
        </div>

        {% for collection in collections %}
            <div class="col-md-3 mb-4">
                <a href="{{ path('collections.show', {id: collection.id}) }}"
                   class="text-reset">
                    <div class="bg-dark text-white p-3 rounded d-flex flex-column h-100">
                        <div class="fs-5 fw-500">{{ collection.name }}</div>
                        <div class="mt-2 mb-3 text-muted">{{ collection.description }}</div>
                        <div class="mt-auto">
                            <span class="badge bg-light text-dark">{{ collection.topic.name }}</span>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
