{% extends 'app.html.twig' %}

{% block title %}{{ collection.name }}{% endblock %}

{% block content %}
    <h1>{{ collection.name }}</h1>
    {% if app.user == collection.user %}
        <div class="my-2">
            <a href="{{ path('user_collections.edit', {id: collection.id}) }}">
                <i class="fa fa-edit"></i> Edit this collection
            </a>
        </div>
    {% endif %}

    <span class="badge bg-primary d-inline-block">{{ collection.topic.name }}</span>

    <div class="mt-2">
        <div class="fw-bold">Description:</div>
        {{ collection.description|e|markdown|raw }}
    </div>

    <div class="mt-2">
        <div class="fw-bold">Items:</div>
        {% if app.user == collection.user %}
            <div class="my-2">
                <a href="{{ path('user_collections.editItems', {id: collection.id}) }}">
                    <i class="fa fa-edit"></i> Edit the collection items
                </a>
            </div>
        {% endif %}

        <div class="row mt-4">
            {% for item in collection.items %}
                {% include 'items/item-fragment.html.twig' with {
                    'item': item, 'collection': collection, 'edit': false
                } only %}
            {% else %}
                No items added yet
            {% endfor %}
        </div>
    </div>
{% endblock %}
